@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%
  }

  .dark {
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%
  }
}

body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  /* overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; */
  
  /* Animated gradient background */
  background-image: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1);
  background-size: 400% 400%;
  animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.25); /* Frosted glass effect */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10.5px);
  z-index: 1; /* Place above the blobs */
}

.blob-outer-container {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 0;
  inset: 0;
  margin: auto;
  filter: blur(100px);
}

.blob-inner-container {
  border-radius: 99999px;
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  overflow: hidden;
  background-color: transparent;
  transform: scale(0.8);
}

.blob {
  position: absolute;
  width: 100vw;
  height: 100vh;
  inset: 0;
  margin: auto;
  background: conic-gradient(from 0deg, #e3dbfa, #fbe3f4, #bbffa1, #ffe1cc, #d4f6ed, #09f);
  animation: spinBlob 8s linear infinite;
}

@keyframes spinBlob {
  0% {
    transform: rotate(0deg) scale(2);
  }
  100% {
    transform: rotate(1turn) scale(2);
  }
}

.shine-container {
  
  /* Add your background pattern here */
  background-color: #ffffff;
  background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
}